:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Tambahan untuk margin bottom */
body {
    /* padding-top: 85px;  */
	margin: 0;
	/* Sesuaikan padding top untuk memberi ruang bagi menu tetap di atas */
}
.content {
    padding: 100px 20px;
}

/* animasi expand */
.description {
	max-height: 3em; /* Initial height */
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
  }
  
  .description.expanded {
	max-height: 10em; /* Max height when expanded */
  }

@media screen and (max-width: 800px){
	#menu {position:relative; margin-bottom: 300;}
	#menu ul {background:#444444;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;text-align:left;}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:#FFFFFF}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
	.charts{
		margin-top: 120px;
	}
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}