
.main-header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
}

.section-header {
    background-color: #f1f1f1;
    padding: 10px;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 75px;
    z-index: 1;
}

.section-header h2 {
    margin: 0;
}
